.header h1.title{
   padding: 16px 0;
color: #fff;
}
#intro .bg1 {
    background: #000 url(http://2.bp.blogspot.com/-T8vMUTEBWII/WHAW5I6jxFI/AAAAAAAACfk/t3Ib-Dz51m8aaH4bXQP6Pj9NSAvd8G0eQCK4B/s1600/banner-940.jpg) no-repeat center center !important;
  }
  .top-menu .menubar{
display: none;
}
/*MOBILE CSS*/
@media (max-width: 767px){
    #intro, #intro .bg1{
height: 240px;
    }
   #intro .bg1 {
    background: #000 url(http://4.bp.blogspot.com/-plEBGyIIfsE/WHAXsI-9NHI/AAAAAAAACfw/xYJhnehkZKsyjBorf0SVyckGlD-W7PIJQCK4B/s1600/banner-940x200.jpg) no-repeat center center !important;
  }
   
  }

@media (max-width: 414px){

  }
