.header h1.title{
   padding: 16px 0;
color: #fff;
}
#header-inner{
display:none;
}
#intro .bg1 {
    background: #000 url(http://4.bp.blogspot.com/-j-JCjfzrTEM/WHAYk4g6sZI/AAAAAAAACf8/GmN94y6WjfA8M7HT3qvv2cHPCKBe5cDawCK4B/s1600/banner-940.jpg) no-repeat center center !important;
   background-size: auto 100% !important;
  }
  .top-menu .menubar{
display: none;
}
/*MOBILE CSS*/
@media (max-width: 767px){
    #intro, #intro .bg1{
height: 240px;
    }
   #intro .bg1 {
    background: #000 url(http://4.bp.blogspot.com/-plEBGyIIfsE/WHAXsI-9NHI/AAAAAAAACfw/xYJhnehkZKsyjBorf0SVyckGlD-W7PIJQCK4B/s1600/banner-940x200.jpg) no-repeat center center !important;
  }
   
  }

@media (max-width: 414px){

  }
